@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Montserrat:wght@300&display=swap&subset=latin');

/* Base */

body {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  box-shadow: inset 0 0 3rem 3px #000;
}

.in-body {
  height: 100%;
  max-width: 64rem;
  overflow-y: auto;
  color: #fff8;
  font-family: 'Merriweather';
}

a {
  color: unset;
}

h2, h3, h4 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

@media (max-width: 64rem) {
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

@media (max-width: 32rem) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}

/* Header */

@media (min-width: 44rem) { /* 48 */
  .masthead {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}

.nav-masthead .nav-link {
  font-weight: 600;
  padding: .25rem 0;
  border-bottom: .2rem solid transparent;
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  border-bottom-color: rgba(255, 255, 255, .5);
}

.nav-masthead .nav-link:hover, .nav-masthead .nav-link:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/* Button */
.btn-secondary {
  font-weight: 600;
  border-radius: .75rem;
  border: .1rem solid transparent;
  background-color: rgba(255, 255, 255, .25);
}

.btn-secondary:hover, .btn-secondary:focus {
  border: .1rem solid #fff;
  background-color: rgba(255, 255, 255, .5);
}

/* Misc */

.crop {
  box-shadow: 3px 3px 9px rgba(0, 0, 0, .5);
  overflow: hidden;
  margin: 0;
}

.cover-heading {
  margin-top: .5rem;
}

/* Carousel */
@media (min-width: 36em) {
  .cover-heading {
    margin-top: 0;
  }
}
/*
@media (min-width: 40em) {
  .carousel-caption {
    margin-bottom: 1.25rem;
    font-size: 200%;
    line-height: 1.4;
  }
}
*/

.carousel-item {
  height: 22rem;
}

@media (max-width: 575px) { /* 36rem - 1px */
  .carousel-item {
    height: 32rem;
  }
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 20rem;
}

.carousel-control-prev, .carousel-control-next {
  background-color: yellow; /* rgba(51, 51, 51, .5); */
  width: 5%;
}

.row {
  height: 100%;
  margin: 0;
}
/*
#myCarousel {
  border: .2rem solid lime;
}
*/
