/* body */

body {
  height: 100vh;
  width: 100vw;
  background-color: #333;
  box-shadow: inset 0 0 3rem 3px #000;
}

.in-body {
  height: 100%;
  max-width: 64rem;
  overflow-y: auto;
  color: #fff8;
  font-family: 'Merriweather';
}

code {
  color: unset;
  font-size: 104%;
}

h2, h3, h4 {
  color: #fff;
  text-shadow: 2px 2px 2px #000;
}

@media (max-width: 64rem) {
  h2 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1.25rem;
  }
}

@media (min-width: 44rem) { /* 48 */
  header h2 {
    float: left;
  }
  header nav {
    float: right;
  }
}

@media (max-width: 32rem) {
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.25rem;
  }
  h4 {
    font-size: 1rem;
  }
}

/* link */

a {
  color: unset;
  font-weight: 700;
}

a:focus, a:hover, .feed-item-title a:hover::after {
  color: #fff;
  text-decoration: none;
}

.nav a {
  padding: .2rem 0;
  border-bottom: .2rem solid;
}

.nav a + a {
  margin-left: 1rem;
}

.nav a.active {
  border-bottom-color: #fff;
}

.feed-item-title a {
  font-weight: unset;
}

.feed-item-title a::after {
  content: " | Leer";
  color: #fff8;
}

/* caro */

.carousel-item {
  height: 22rem;
}

@media (max-width: 575px) { /* 36rem - 1px */
  .carousel-item {
    height: 32rem;
  }
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 20rem;
}

.carousel-indicators li {
  width: 50px;
  height: 0.2rem;
  margin: 0 0.5rem;
  opacity: 1;
  background-color: #fff8;
}

.carousel-indicators li.active, .carousel-indicators li:hover {
  background-color: #fff;
}

.carousel-control-prev, .carousel-control-next {
  background-color: yellow; /* rgba(51, 51, 51, .5); */
  width: 5%;
}

/* misc */

.row {
  margin: 0;
  height: 100%;
}

.col-sm, .col-sm-3 {
  margin: auto 0;
}

img {
  width: 100%;
  user-drag: none;
  -webkit-user-drag: none;
}

figure.crop {
  margin: 0;
  overflow: hidden;
  box-shadow: 4px 4px 8px #0008;
}

/* test */
/*
#myCarousel {
  border: .2rem solid lime;
}
body{
  box-shadow: inset 0 0 1rem red;
}
*/
